@use "../../assets/styles/styles";
@import "../../assets/styles/variables";

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $background-color;
  color: $text-color;

  & > header {
    @extend %flex-center;
    padding-top: 28px;

    & .icon-btn {
      background-color: #ffffff19;
      margin: 0 8px;
    }

    & .icon-btn:last-of-type svg {
      width: 21px;
    }

    & .icon-btn:focus {
      background: linear-gradient(180deg, #3f3b58 0%, #221a25 100%);

      & .icon {
        fill: white;
      }
    }

    & .icon-btn .icon {
      fill: #bdbcc1;
    }
  }

  & > footer {
    @extend %flex-center;
  }

  & > main {
    flex-grow: 1;
  }
}
